<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cable.dao.CableInfoDao">
	<resultMap type="com.cable.bean.CableInfo" id="CableInfo">
		<id column="CableID" property="cableId"/>
		<association property="froBoxInfo" column="FroBoxID" select="selectBoxInfoById" />
		<association property="backBoxInfo" column="BackBoxID" select="selectBoxInfoById"/>
	</resultMap>
	<select id="selectCableInfoById" parameterType="java.lang.Integer" resultMap="CableInfo">
		<![CDATA[
			SELECT
				CableID,
				CableLength,
				CableNumber,
				CableSpareNumber,
				FroBoxID,
				BackBoxID,
				CablePosition
			FROM
				B_CableInfo
			WHERE
				CableID = #{id}
		]]>
	</select>
	<resultMap type="com.cable.bean.BoxInfo" id="BoxInfo">
		<id column="BoxID" property="boxId"/>
		<association property="boxType" column="BoxTypeId" select="selectBoxTypeById"/>
		<association property="schematic" column="SchematicID" select="selectSchematicById"/>
		<association property="orbit" column="orbitID" select="selectOrbitById"/>
		<association property="localePhoto" column="LocalePhotoID" select="selectLocalePhotoById"/>
		<association property="station" column="StationID" select="selectStationById"/>
	</resultMap>
	<select id="selectBoxInfoById" parameterType="java.lang.Integer" resultMap="BoxInfo">
		<![CDATA[
			SELECT 
				  BoxID
			      ,BoxName
			      ,BoxTypeID
			      ,SchematicID
			      ,StationID
			      ,OrbitID
			      ,Instruction
			      ,Layer
			      ,RootID
			      ,Depth
			      ,LocalePhotoID
  			FROM 
  				  B_BoxInfo
  			WHERE
  				  BoxID = #{id}
		]]>
	</select>
	<select id="selectStationById" resultType="com.cable.bean.StationInfo">
		<![CDATA[
			SELECT
				StationID,
				StationName,
				StationNumber,
				StationTpye as StationType
			FROM
				B_StationInfo
			WHERE
				StationID = #{id}
		]]>
	</select>
	<select id="selectLocalePhotoById" resultType="com.cable.bean.LocalePhoto">
		<![CDATA[
			SELECT
				LocalePhotoID,
				LocalePhotoName,
				LOcalePhoto
			FROM
				B_LocalePhoto
			WHERE
				LocalePhotoID = #{id}
		]]>
	</select>
	<select id="selectOrbitById" resultType="com.cable.bean.Orbit">
		<![CDATA[
			SELECT
				OrbitID,
				StationID,
				OrbitTypeID,
				OrbitName,
				LocalePhotoID
			FROM
				B_Orbit
			WHERE
				OrbitID = #{id}
		]]>
	</select>
	<select id="selectSchematicById" resultType="com.cable.bean.Schematic">
		<![CDATA[
			SELECT
				SchematicID,
				SchematicName,
				SchematicPhoto
			FROM
				B_Schematic
			WHERE
				SchematicID = #{id}
		]]>
	</select>
	<select id="selectBoxTypeById" parameterType="java.lang.Integer" resultType="com.cable.bean.BoxType">
		<![CDATA[
			SELECT 
				BoxTypeId,
				BoxModel,
				BoxPostNumber,
				BoxTypeName
			FROM
				B_BoxType
			WHERE
				BoxTypeId = #{id}
		]]>
	</select>
	<select id="selectCableInfoList" resultMap="CableInfo">
		<![CDATA[
			SELECT
				CableID,
				CableLength,
				CableNumber,
				CableSpareNumber,
				FroBoxID,
				BackBoxID,
				CablePosition
			FROM
				B_CableInfo
		]]>
	</select>
	<select id="selectCableInfoCount" resultType="java.lang.Long">
		<![CDATA[
			SELECT
				count(1)
			FROM 
				B_CableInfo
		]]>
	</select>
</mapper>