<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cable.dao.StationInfoDao">
	<select id="selectStationInfoList" resultType="com.cable.bean.StationInfo">
		<![CDATA[
			SELECT 
				  StationID,
				  StationName,
				  StationNumber,
				  StationTpye as StationType
  			FROM 
  				  B_StationInfo
		]]>
	</select>
	<select id="selectStationInfoCount" resultType="java.lang.Long">
		<![CDATA[
			SELECT
				count(1)
			FROM 
				B_StationInfo
		]]>
	</select>
	<select id="selectOrbitsByStationId" resultType="com.cable.bean.Orbit">
		<![CDATA[
			SELECT
				OrbitID,
				StationID,
				OrbitTypeID,
				OrbitName,
				LocalePhotoID
			FROM
				B_Orbit
			WHERE
				StationID = #{id}	
			AND 
				OrbitTypeID = 1	
		]]>
	</select>
	<select id="selectLocalePhotoById" resultType="com.cable.bean.LocalePhoto">
		<![CDATA[
			SELECT
				LocalePhotoID,
				LocalePhotoName,
				LocalePhoto
			FROM
				B_LocalePhoto
			WHERE
				LocalePhotoID = #{id}
		]]>
	</select>
</mapper>